*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
.main-heading{
    border-top: 25px;
    font-size: medium;
    opacity: 0.5;
}

.upper-container{
    width: 50%;
    height:10%;
    margin:50px auto;
    position: relative;
}
.upper-container1{
    width: 35%;
    height: 100%;
    padding-top: 40px;

}

#tasks{
    font-weight: bold;
    font-size: 2.5rem;
}

#lists{
    font-size: 2.5rem;
    margin-left: 5px;
    opacity: 0.5;

}

.upper-container2{
    width:30%;
    height: 100%;
    padding-top: 0px;
    position: absolute;
    top: 45px;
    right: 0;
}

#addlist{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 30px;
    padding-top: 0px;
    opacity:0.5;

}
.card{
    margin: 3px auto;
    border: 1.5px solid red;
    height:45vh;
    width:15%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;    
    position: relative;

}

.div1{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width:85%;
    height: 15%;
    border-bottom: 1px solid black;
    color: red;

}
.div12{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width:85%;
    height: 15%;
    border-bottom: 1px solid black;
    color: red;


}

.div2{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 30%;
    font-size: 25px;
    text-align: right;
    text-decoration: line-through;
}
.div22{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 30%;
    font-size: 25px;
    text-align: right;
    text-decoration: line-through;

}

.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size: 25px;
    }
    .div32{
        width: 90%;
        height: 10%;
        position: absolute;
        top: 52%;
        text-align: left;
        font-size: 25px;
    }

    #check{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

.nots{
    filter: blur(10px);
}

.popup{
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1.5px solid red;
    border-radius: 8px;
    position: absolute;
    top: 35%;
    right: 40%;

}

#addnewlist{
    color: red;
    text-align: center;
}
.plain-box{
    text-align: center;
    border-top: 25px;
    width: 250px;
    height: 25px;
    border: 1.5px solid red;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 7.5%;
}

.addbutton{
    background-color: red;
    color: white;
    border: 1.5px solid red;
    border-radius: 8px;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 100px;
    right: 50%;
    
}


.allcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.pagelinks{
    position: absolute;
    top: 650px;
    left: 50px;

}

.sub-heading{
    font-size: 3rem;
    position: absolute;
    top: 100px;
    right: 625px;
}

.back{
    opacity: 0.5;
    position: absolute;
    top: 185px;
    right: 700px;
    font-size: 30px;
}

#left-circle{
    position: absolute;
    top: 175px;
    right: 800px;
}

.card2{
    margin: 3px auto;
    border: 1.5px solid red;
    height:45vh;
    width:15%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;    
    position: relative;


}


@media(max-width:600px){

    .upper-container{
        left: 60px;
        right: 20px;
        width: 100%;
     }
    #addlist{
        
                display: none;
     }

     #circle{
         position: absolute;
         right: 10px;
     }
     .div1{
         border: none;
         color: grey;
     }
     .div2{display: none;
    }
    .div3{
        display: none;
    }
    .upper-container1{
        width: 80%;
    }
     .card{
         width: 90%;
         height: 23vw;
         margin-top: 30px;
     }
     .allcards{
         position: relative;
         left: 10px;
     }
     .pagelinks{
         position: absolute;
         bottom: 10px;
     }
     .popup{
         height: 35vh;
         width: 75%;
         left: 40px;

     }
     .plain-box{
         width: 200px;
         height: 50px;
     }
     .addbutton{
         top: 150px;
         right: 45%;
     }
     .sub-heading{
         width: 85%;
         text-align: center;
     }

     #left-circle{
         position: absolute;
         top: 60px;
         left: 10px;
     }
     .back{
         display: none;
     }
     .card2{  
         
        width: 90%;
         height: 50vh;
         margin-top: 30px;
     }





}